html,
body,
* {
    font-size: 25px;
    background-color: lightgrey;
}

.form{
    text-align: center;
}
.sub{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 15px;
}

h1{
    font-size: 2rem;
    text-align: center;
}

.angryBox {
    height: 33%;
    width: 10rem;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: space-around;
    margin: 60px;
    background-image: url(grr.png);
    background-size: cover;
    border: 5px solid black;
    cursor: pointer;
}


.box {
    height: 33%;
    width: 10rem;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: space-around;
    margin: 60px;
    border: 5px solid black;
    cursor: pointer;
}

.form {
    font-size: 10px;
    margin-top: -10px;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 80vw;
    height: 80vh;
    border: 10px solid black;
}

.text {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
}

#button{
    margin-right: 1rem;
}

.buttons{
    margin-top: 1rem;
    
}